<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title> SHARPEN  | Account Site - Personal data</title>
	<link rel="stylesheet" href="/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
</head>
<body>

<div class="header">
	<div class="container">
	
	<div class="navbar">
		<div class="logo">
			<img src="/images/logo2.png"	width="130px">	
	</div>
	<nav>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/products">Produkty</a></li>
			<li><a href="/contact">Kontakt</a></li>
			<li><a href="/login">Konto</a></li>
			<li><a href="/basket">Koszyk</a></li>		
		</ul>
	</nav>
</div>
            <div class ="Panelbox">
                <nav>
                    <ul class="menu">
                        <li><a href="#"><strong>DANE KLIENTA</strong></a></li>
                        <li><a href="#"><strong> ZAMÓWIENIA</strong></a></li>
                        <li><a href="#"><strong>MY SHARPEN</strong></a></li>
                        <li><a href="#"><strong> WYLOGUJ</strong></a></li>
                    </ul>
                </nav>
            </div>
            <div class="wrapper">
                <div class="title-panel">
                    Dane Klienta
                </div>
                <div class="form">
                    <div class="inputfield">
                        <label>Imię</label>
                        <input type="text" class="input" value="Janek">
                    </div>
                    <div class="inputfield">
                        <label>Nazwisko</label>
                        <input type="text" class="input" value="Kowalski">
                    </div>
                    <div class="inputfield">
                        <label>Hasło</label>
                        <input type="password" class="input" value="Korek123">
                    </div>
                    <div class="inputfield">
                        <label>Email</label>
                        <input type="text" class="input" value="janekk@wp.pl">
                    </div>
                    <div class="inputfield">
                        <label>Numer telefonu</label>
                        <input type="text" class="input" value="123456789">
                    </div>
                    <div class="inputfield">
                        <label>Adres</label>
                        <input type="text" class="input" value="Sokołowska 40">
                    </div>
                    <div class="inputfield">
                        <label>Kod pocztowy</label>
                        <input type="text" class="input" value="01-136 Warszawa">
                    </div>
                    <div class="inputfield">
                        <input type="submit" value="Zaktualizuj" class="btn">
                    </div>
            
                </div>
    
                </div>
	
</div>
</div>

</body>
</html>