<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title> SHARPEN  | Account Site - Personal data</title>
	<link rel="stylesheet" href="/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
</head>
<body>

<div class="header">
	<div class="container">
	
	<div class="navbar">
		<div class="logo">
			<img src="/images/logo2.png"	width="130px">	
	</div>
	<nav>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/products">Produkty</a></li>
			<li><a href="/contact">Kontakt</a></li>
			<li><a href="/login">Konto</a></li>
			<li><a href="/basket">Koszyk</a></li>		
		</ul>
	</nav>
</div>
            <div class ="Panelbox">
                <nav>
                    <ul class="menu">
                        <li><a href="/account/clientinfo"><strong>DANE KLIENTA</strong></a></li>
                        <li><a href="/account/clientorders"><strong> ZAMÓWIENIA</strong></a></li>
                        <li><a href="/account/mysharpen"><strong>MY SHARPEN</strong></a></li>
                        <li><a href="/logout"><strong> WYLOGUJ</strong></a></li>
                    </ul>
                </nav>
            </div>
            <div class="wrapper">
                <br>
                <br>
                <br>
                <br>
                <div class="title-panel">
                    <h1>Witaj <span th:text="${name}"></span>!</h1>
                </div>
    
                </div>
	
</div>
</div>

</body>
</html>