<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <title> SHARPEN | Shopping Cart </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
<div class="header">
	<div class="container">

            <div class="navbar">
                <div class="logo">
                    <img src="/images/logo2.png" width="130px">
                </div>
                <nav>
                    <ul>
                      	<li><a href="/home">Home</a></li>
						<li><a href="/products">Produkty</a></li>
						<li><a href="/contact">Kontakt</a></li>
						<li><a href="/login">Konto</a></li>
						<li><a href="/basket">Koszyk</a></li>
                    </ul>
                </nav>
            </div>
 
			<div class="row">
				<div class="col-2">
					<form id="form1" method="post" action="order">
					<h2 style="color: #ffecb3">Dostawa</h2>
						<h4 style="color: #ffecb3"> Wybierz formę dostawy:</h4>
						<div th:each="delivery: ${delivery}">
						<input type="radio" id="delivery" name="get" th:value="${delivery.deliveryID}">
						<label style="color: #ffecb3" for="DHL"><span th:text="${delivery.nazwa}"></span>&nbsp;(Cena:&nbsp;<span th:text="${delivery.cena}"></span>$)</label><br>
						</div>
					
					<br><br>
					
					<h2 style="color: #ffecb3">Forma płatności</h2>
						<h4 style="color: #ffecb3"> Wybierz formę płatności:</h4>
						<div th:each="payment: ${payment}">
						<input type="radio" id="payment" name="pay" th:value="${payment.paymentID}">
						<label style="color: #ffecb3" for="DHL"><span th:text="${payment.nazwa}"></span>&nbsp;(Cena:&nbsp;<span th:text="${payment.cena}"></span>$)</label><br>
						</div>
					
					<button class="btn" type="submit" form="form1">Potwierdź</button>
					</form>
				</div>	
			</div>     

	</div>
        
 
</div>

</body>
</html>