<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <title> SHARPEN | Shopping Cart </title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
<div class="header">
	<div class="container">

            <div class="navbar">
                <div class="logo">
                    <img src="/images/logo2.png" width="130px">
                </div>
                <nav>
                    <ul>
                      	<li><a href="/home">Home</a></li>
						<li><a href="/products">Produkty</a></li>
						<li><a href="/contact">Kontakt</a></li>
						<li><a href="/login">Konto</a></li>
						<li><a href="/basket">Koszyk</a></li>
                    </ul>
                </nav>
            </div>
 <!------------------- cart item details------->
			<div class="row">
				<div class="col-2">
					<h2 style="color: #ffecb3">Twój koszyk jest pusty.</h2>
					<h2 style="color: #ffecb3">Znajdź coś dla siebie w SHARPEN!</h2>
					<a href="/products" class="btn">Sprawdź asortyment &#8594;</a>
				</div>	
			</div>     

	</div>
        
 
</div>

</body>
</html>