<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title> SHARPEN  | Login</title>
	<link rel="stylesheet" href="/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
</head>
<body>

<div class="header">
	<div class="container">
	
	<div class="navbar">
		<div class="logo">
			<img src="/images/logo2.png"	width="130px">	
		</div>
		<nav>
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/products">Produkty</a></li>
			<li><a href="/contact">Kontakt</a></li>
			<li><a href="/login">Konto</a></li>
			<li><a href="/basket">Koszyk</a></li>		
		</ul>
		</nav>
	</div>

	</div>
		<div class="title-login">
					<h2 class ="title"> Logowanie </h2>
		</div>
	<div class="row">
			<div class="wrapper">
                
                <div class="form">
                <form id="form1" method="post" action="login">
                    <div class="inputfield">
                        <label>E-mail</label>
                        <input type="text" class="input" name="email">                        
                    </div>

                    <div class="inputfield">
                        <label>Hasło</label>
                        <input type="password" class="input" name="password">
                    </div>
                    
                    	<!--<a href="">Zapomniałeś hasła?</a>-->
                    
                    <div class="inputfield">
                        <button class="btn" type="submit" form="form1">Zaloguj</button>
                    </div>
                    
                    	<a href="/register">Nie masz konta? Zarejestruj się.</a>
                </form>
                <h3>Użytkownik o podanym adresie e-mail nie istnieje.</h3>    
                </div>
            	</div>	
	</div>	
</div>

</body>
</html>