<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title> SHARPEN  | Login Site </title>
	<link rel="stylesheet" href="/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
</head>
<body>

<div class="header">
	<div class="container">
	
	<div class="navbar">
		<div class="logo">
			<img src="/images/logo2.png"	width="130px">	
		</div>
			<nav>
			 <ul>
				<li><a href="">Home</a></li>
				<li><a href="">Produkty</a></li>
				<li><a href="">Kontakt</a></li>
				<li><a href="">Konto</a></li>
				<li><a href="">Koszyk</a></li>		
			</ul>
		   </nav>
		</div>
		        <div class="wrapper">
                <div class="title-login"> Logowanie</div>
                <div class="form">
                    <div class="inputfield">
                        <label>Login</label>
                        <input type="text" class="input">
                    </div>

                    <div class="inputfield">
                        <label>Hasło</label>
                        <input type="password" class="input">
                    </div>
                    <a href="">Zapomniałeś hasła?</a>
                    <div class="inputfield">
                        <input type="submit" value="Zaloguj" class="btn">
                    </div>
                        <a href="">Nie masz konta? Zarejestruj się.</a>
                    
                </div>
            </div>

</div>
</div>


</body>
</html>