<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title> SHARPEN  | Registration</title>
	<link rel="stylesheet" href="/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
</head>
<body>

<div class="header">
	<div class="container">
	
	<div class="navbar">
		<div class="logo">
			<img src="/images/logo2.png"	width="130px">	
	</div>
	<nav>
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">Produkty</a></li>
			<li><a href="">Kontakt</a></li>
			<li><a href="">Konto</a></li>
			<li><a href="">Koszyk</a></li>		
		</ul>
	</nav>
</div>
	<div class="title-registration">
    	<h2 class ="title"> Rejestracja </h2>
    </div>

	<div class="row">
            <div class="wrapper">
                
                <br>
                <div class="form">
                <form id="form1" method="post" action="register">
                    <div class="inputfield">
                        <label>Imię</label>
                        <input type="text" class="input" name="name">
                    </div>
                    <div class="inputfield">
                        <label>Nazwisko</label>
                        <input type="text" class="input" name="surname">
                    </div>
                    <div class="inputfield">
                        <label>Email</label>
                        <input type="text" class="input" name="email">
                    </div>
                    <div class="inputfield">
                        <label>Hasło</label>
                        <input type="password" class="input" name="password">
                    </div>
                    <div class="inputfield">
                        <label>Potwierdź hasło</label>
                        <input type="password" class="input" name="password1">
                    </div> 
                    <div class="inputfield">
                        <label>Ulica</label>
                        <input type="text" class="input" name="street">
                    </div>
                    <div class="inputfield">
                        <label>Kod pocztowy</label>
                        <input type="text" class="input" name="postalcode">
                    </div>
                    <div class="inputfield">
                        <label>Miasto</label>
                        <input type="text" class="input" name="city">
                    </div>
                    <div class="inputfield">
                        <label>Numer telefonu</label>
                        <input type="text" class="input" name="phone">
                    </div>
                    <div class="inputfield">
                        <button type="submit" class="btn" form="form1">Zarejestruj</button>
                    </div>
                </form>    
                </div>
            </div>
	</div>
	
</div>
</div>

</body>
</html>