<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> SHARPEN | Shotgun products</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="/images/logo2.png" width="130px">
                </div>
                <nav>
                    <ul>
                        <li><a href="/home">Home</a></li>
						<li><a href="/products">Produkty</a></li>
						<li><a href="/contact">Kontakt</a></li>
						<li><a href="/login">Konto</a></li>
						<li><a href="/basket">Koszyk</a></li>	
                    </ul>
                </nav>
            </div>
            <div class="small-container">
                <h2 class ="title"> Shotguns </h2>
                <div class="row">
                    <div class="col-4" th:each="shotgun: ${shotgun}">
                        <img src="/images/stoeger.jpg">
                        <h4><span th:text="${shotgun.nazwa}"></span></h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span th:text="${shotgun.cena}"></span>$</p>
                        <form id="form4" method="post" action="shotguns">
                        <button class="btn" type="submit" form="form4" th:value="${shotgun.index}" name="shbutton"> Dodaj do koszyka </button>
                        </form> 
                                           
                    </div>
						


                </div>

            </div>
        </div>


    </div>




</body>

</html>