<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title> SHARPEN  | Shotgun1 product</title>
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
</head>
<body>

<div class="header">
	<div class="container">
	
	<div class="navbar">
		<div class="logo">
			<img src="logo2.png"	width="130px">	
	</div>
	<nav>
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">Produkty</a></li>
			<li><a href="">Kontakt</a></li>
			<li><a href="">Konto</a></li>
			<li><a href="">Koszyk</a></li>		
		</ul>
	</nav>
</div>
</div>
</div>


<!------------Produkt-------------------->

<div class="small-container single-product">
	<div class="row">
		<div class="col-2">
			<img src="stroger.jpg" width="100%">
		</div>
		<div class="col-2">
			<h1> Strzelba Stoeger M3000 Shotgun </h1>
			<h4> 1000 $ </h4>
			<input type="number" value="1">
			<a href="" class = "btn"> Dodaj do koszyka </a>

			<h3> Opis produktu</h3>
			<p> Samopowtarzalna strzelba Stoeger M3000 Shotgun Realtree APG przeznaczona do polowań, w szczególności na kaczki, indyki oraz inne ptactwo łowne. Jest to solidna, niezawodna i uniwersalna broń myśliwska strzelająca amunicją magnum. </p>
		</div>
		
</div>
</div>


</body>
</html>